a{
	text-decoration:none;
	color:white;
	text-align:center;
}
a:hover{
	color:black;
	background-color:#5b6fe0;
}

a:link{
    color:#ffffff;
    text-decoration: none;
}
p{
	 text-indent: 25px;
	 text-align:left;
	 padding:5px;
}
#acmLogo{
	height:90px;
	width:90px;
	margin-left:30%;
}
.mem_link:hover{
	background:none;
	color:#ffffff;
}
.auto-style1 {
	background-attachment: fixed;
	width: 100%;
	min-height: 100%;
	height: auto;
	position: relative;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	margin-bottom: 0;
}
.buttons{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
	width:100%;
	height:10%;
	display:table;
}
.buttonsy{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
	width:100%;
	height:10%;
	display:table;
}
.buttony{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
	width:100%;
	height:10%;
	display:table;
	cursor:arrow;
}
div{
	background-color:#3d4a96;
}
.downArrow{
	cursor:pointer;
    width:50px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:50%;
    background-image:url(../images/button4.png);
    background-repeat:no-repeat; 
}
#FU{
	
	color:#3d4a96;
	background-color:white;
	padding-left:40px;
	font-size:1.5em;
	cursor:default;
	display:table-cell;
	height:10%;
	width:100%;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
}
#FU:hover{
	color:#3d4a96;
	background-color:white;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
}
#FUsmall{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
	height:50px;
	width:42px;
	padding-top:10px;
	background-color:#ffffff;
}
h4{
	font-size:xx-large;
}
#homeLogos{
	display:inline-block;
	background:transparent;
	align:center;
	
}
html,body{    
    font-family: sans-serif;    
    width:100%;     
    height:100%; 
    
     
}
img {
    vertical-align: middle;
    display: table-cell;
    padding-left:3px;
    margin-right:2px;
    
    width:38px;
    left:36px;
    float:left;
}
.imag{
	height:100%;
	padding-left:0px;
}

.imgButton{
	height:40px;
	width:40px;
	padding-top:10px;
}
.info{
	padding:0px 80px 0px 80px;
	position:inherit;
	/*background-color:rgba(0,0,0,.3);*/
}
.learn_more:link, .learn_more:visited {
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}
.learn_more:hover, .learn_more:active {
    background-color: #5b6fe0;
    color: white;
}
.learn_more{
	z-index:9999999;
	text-shadow:none;
   position: absolute; 
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;
   right:-40px; 
   padding-left:4px;
   top:10px;
   font-size:large;
   border: 3px #3d4a96 solid;
   display:flex;
   background:#ffffff;
   border-right:none;
      -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
    }
#search_bar:link, #search_bar:visited {
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}
.search_null{
	position:relative;
	color:#000;
	background-color:transparent;
}
.search_links{
	position:relative;
	color:#000;
	margin-top:25px;
}
.search_links:hover{
	background-color:transparent;
	color:#000;
	text-decoration:underline;
}
.search_results:visited{
	color:#000;
}
.results{
	font-weight:bolder;
	padding:15px;
	background-color:transparent;
	text-align:left;
}
#search_bar{
	z-index:9999999;
    position: fixed; 
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    right:-270px; 
    padding-left:4px;
    top:36px;
    min-width:92.05px;
    width:362.05px;
    font-size:large;
    border: 3px #3d4a96 solid;
    display:flex;
    background:#ffffff;
    border-right:none;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    }
#search_bar:hover, #search_bar:active {
    text-color:black;
    background-color: #5b6fe0;
    right: 0px;
} 
#search_bar_icon{
	cursor:pointer;
	height:19px;
	width:19px;
	font-size:small;
	margin-bottom:1px;
	background-image:url('../images/mag.png') 
}
#search_bar_hidden{
    z-index:9999999;
    bottom:42px;
	left: -25px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.screen{
	background-color:rgba(250,250,250,0.25);
	min-height:100%;
	width:100%;
	position:absolute;
}
.slide {
 	 background-attachment: fixed;
 	 
   
    width:100%;
   	min-height:100%;
   	height:auto;
    position: relative;
    float: right;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.75);
    left: 0px; 
    top: 0px;
 
    }
.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
#side-bar{
	float:left;
	min-width:140px; 
	width:20%; 
	height:100.0%;
	position:fixed; 
	left: 0px; 
	top: 0px;
	
}
span {
    vertical-align: middle;
    display: table-cell;
    padding-right:40px;
}
#TowerLogo{
	height:150px;
	width:250px;	
}
.main_body{
	width:80%;
	height:100%;
	float: right;
	background-color:#5b6fe0;
	text-align:center;
}
.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}
.side_bar_overlay{
	display:none;
	height:100%;
	width:45px;
	position:fixed;
	top:0px;
	left:0px;
}
.popout1{
text-shadow:1px 1px #000000;
	color:#ffffff;
	position:fixed;
	margin-top:10px;
	left:0px;
	visibility:hidden;
	z-index:-1;
	height:25px;
	width: 75px;
	padding-right:5px;
	padding-top:10px;
	border-top-right-radius:10px;
  	border-bottom-right-radius:10px;
	border: 3px #ffffff solid;
	border-left:none;
}
a:hover .popout1{
	background-color:#5b6fe0;
	left:45px;
visibility:visible;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popout2{
text-shadow:1px 1px #000000;
	color:#ffffff;
	position:fixed;
	margin-top:10px;
	left:0px;
	visibility:hidden;
	z-index:-1;
	height:25px;
	width: 75px;
	padding-right:5px;
	padding-top:10px;
	border-top-right-radius:10px;
  	border-bottom-right-radius:10px;
	border: 3px #ffffff solid;
	border-left:none;
}
#facebookFeed{
	height:10%;
}
#facebookFeed .fb-page{
	display: none;
	position:absolute;
	bottom:-45%;
	height:400px;
	width:20%;
	left:0px;
}
#facebookFeed:hover .fb-page{
	display:block;
	bottom:20%;
	-webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;

}
#twitterFeed{
	height:10%;
}
#twitterFeed .twitter-timeline{
	display: none;
	position:absolute;
	bottom:0px;
	height:300px;
	width:270px;
	left:0px;
}
#twitterFeed:hover .twitter-timeline{
	display:block;
	bottom:46%;
	-webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;

}

a:hover .popout2{
	background-color:#5b6fe0;
	left:45px;
visibility:visible;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popout3{
text-shadow:1px 1px #000000;
	color:#ffffff;
	position:fixed;
	margin-top:10px;
	left:0px;
	visibility:hidden;
	z-index:-1;
	height:25px;
	width: 75px;
	padding-right:5px;
	padding-top:10px;
	border-top-right-radius:10px;
  	border-bottom-right-radius:10px;
	border: 3px #ffffff solid;
	border-left:none;
}
a:hover .popout3{
	background-color:#5b6fe0;
	left:45px;
visibility:visible;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popout4{
text-shadow:1px 1px #000000;
	color:#ffffff;
	position:fixed;
	margin-top:10px;
	left:0px;
	visibility:hidden;
	z-index:-1;
	height:25px;
	width: 75px;
	padding-right:5px;
	padding-top:10px;
	border-top-right-radius:10px;
  	border-bottom-right-radius:10px;
	border: 3px #ffffff solid;
	border-left:none;
}
a:hover .popout4{
	background-color:#5b6fe0;
	left:45px;
visibility:visible;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popout5{
text-shadow:1px 1px #000000;
	color:#ffffff;
	position:fixed;
	margin-top:10px;
	left:0px;
	visibility:hidden;
	z-index:-1;
	height:25px;
	width: 75px;
	padding-right:5px;
	padding-top:10px;
	border-top-right-radius:10px;
  	border-bottom-right-radius:10px;
	border: 3px #ffffff solid;
	border-left:none;
}
a:hover .popout5{
	background-color:#5b6fe0;
	left:45px;
visibility:visible;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.copyright{
	position:fixed;
	bottom:25px;
	z-index:-1;
	right:18%;
	background:none;
}
.add_members
{
	cursor:pointer;
	position:inherit;
	right:-38%;
}
.add_members:hover
{
	background:none;
	color:#ffffff;
}
.add_members:hover .admin_login
{
	right:-33%;
	visibility:visible;
	 -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.member2{
	height: 115px;
    width: 10%;
	min-width:75px;
	background-size: cover;
    background-repeat: no-repeat;
	background-position-x: center;
	margin-right: 55px;
	position:relative;
	display:inline-flex;
}
.member{
	height: 115px;
    width: 10%;
	min-width:75px;
	background-size: cover;
    background-repeat: no-repeat;
	background-position-x: center;
	padding:2%;
	margin: 20px;
	position:inherit;
	display:inline-flex;
	
	
	
}
.names{
	text-shadow:1px 1px 1px #000;
	text-align:-webkit-right;
	position:absolute;
	bottom:5px;
}

.admin_login
{
	background-color:#ffffff;
	height:120px;
	width:30%;
	position:inherit;
	visibility:hidden;
	text-shadow:none;
	right:-50%;
	padding:2px;
	
	
}
.admin_login_form{
	color:#000000;
}
.add_form
{	right: 11%;
    width: 75%;
	background-color:#ffffff;
	text-shadow:none;
	color:#000000;
	position:absolute;
	min-height:60%;
	padding:2px;
}
.x_pic{
	
	background:none;
	display:none;
}
.r_member{
	height: 115px;
    width: 10%;
	min-width:75px;
	background-size: cover;
    background-repeat: no-repeat;
	background-position-x: center;
	padding:2%;
	margin: 20px;
	position:inherit;
	display:inline-flex;
	border-width:2px;
	border-style:solid:
}

.r_member:hover .x_pic{
	 -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
	display:inline-block;
}
/******************************
 SLIDE 1 
*******************************/
#slide1{
    background-image:url('../images/Technology.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-repeat:no-repeat;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
    background-image:url('../images/Technology 2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
    background-image:url('../images/Technology 3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;    
}

/******************************
 SLIDE 4 
*******************************/
#slide4{
	min-height:800px;
    background-image:url('../images/Technology 4.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;

     
}

/******************************
 SLIDE 5
*******************************/
 
#slide5{
    background-image:url('../images/Technology 5.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;     
}


@media screen and (max-width:900px){
	
	.nav_words{
		visibility:collapse;
	}
	.main_body{
		width:95%;
		font-size:small;
	}
	.follow_us{
    text-align:left;
	font-size:small;
	display:block;
}
#FU{
	background-image:url('../images/FU.png');
	background-size: 43px;
        background-repeat: no-repeat;

}
#FU b{
	visibility:collapse;
}
.side_bar_overlay{
	display:block;
	
}
#side-bar{
	display:none;
}
.copyright {
	font-size:x-small;
	text-align:center;
	right:15%;
	left:18%;
}
}

/*Website project section--------------*/
#webProject{
	max-width: 90%;
	/*margin-right: 5%;*/
	margin-left: 5%;
	/*padding-left: 0%;
	padding-right: 0%;*/
	position: inherit;
	text-align: center;
	background-color: transparent;
	overflow:auto;
}

#webPhoto{
	height: 100px;
	width: 192px;
}
.quote{
	background-color: transparent;
   color:white;
	text-shadow: 1.5px 1.5px #000;
    font-weight: 700;
   
}
.projects_link{
	color:#000;
}
.projects_link:hover{
	background-color:transparent;
	text-decoration:underline;
}